@import url("https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css");

.app {
  background-color: #000000;
}
.content {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
